body {
    font-family: "Sequel Sans","Poppins",Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0c2b27;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

nav .logo {
    height: 50px; /* Ajuste o tamanho conforme necessário */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: light;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: white;
    transition: width 0.3s ease;
    transition-delay: 0.1s;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
    background: white;
}

nav ul li a:hover {
    color: #e0f7fa;
}

main {
    margin: 0;
    padding: 0;
}

#slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    text-align: center;
}

footer {
    background-color: #0c2b27;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

#servicos {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9ecef;
    color: white;
    overflow: hidden;
}

.servico-container {
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servico-text {
    position: relative;
    z-index: 2;
    text-align: left;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    max-width: 50%;
}

.servico-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 90%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#sobre-nos {
    padding: 2rem;
    background-color: #f4f4f4;
    text-align: center;
}

.empresa {
    margin: 1rem 0;
}

#contactos {
    padding: 2rem;
    background-color: #fff;
    text-align: center;
}
